{% extends "layouts/base.html" %}

{% block title %} Alternative {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card-header p-0 position-relative mt-n4 mx-1 z-index-2">
        <div class="bg-gradient-info shadow-primary border-radius-lg pt-3 pb-2">
          <h6 class="text-white text-capitalize ps-3">Alternatif Alokasi Dosen</h6>
        </div>
      </div>
      <div class="card p-0 position-relative mx-3 z-index-2">
        <div class="shadow-primary border-radius-lg pt-3 pb-1">
          <h6 class="text-blue text-capitalize ps-3">Kriteria Alokasi</h6>
          <div class="p-4">
            <form action="{{ url_for('alternatif_blueprint.alternatives_data') }}" method="POST"  enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group input-group-static mb-4">
                    <label for="exampleFormControlSelect1" class="ms-0" style="color: MidnightBlue"><strong>Pertimbangan
                        Mata Kuliah Pilihan</strong></label>
                    <select class="form-control" id="formMatkulpilihan" style="color: SteelBlue;" required name="matkulPilihan">
                      <option disabled selected>Pilihan Pertimbangan</option>
                      <option style="color: black" value="Mata Kuliah Historis">Mata Kuliah Historis</option>
                      <option style="color: black" value="Mata Kuliah Minat">Mata Kuliah Minat</option>
                      <option style="color: black" value="Combine">Mata Kuliah Minat dan Mata Kuliah Historis</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group input-group-static mb-4">
                    <label for="exampleFormControlSelect1" class="ms-0" style="color: MidnightBlue"><strong>Jumlah Mata
                        Kuliah Pilihan</strong></label>
                    <select class="form-control" id="formJumlahmatkul" style="color: SteelBlue;" required name="jumlahMatkul">
                      <option disabled selected>Jumlah Mata Kuliah</option>
                      <option style="color: black" value="1">1</option>
                      <option style="color: black" value="2">2</option>
                      <option style="color: black" value="3">3</option>
                      <option style="color: black" value="4">4</option>
                      <option style="color: black" value="5">5</option>
                      <option style="color: black" value="6">6</option>
                      <option style="color: black" value="7">7</option>
                      <option style="color: black" value="8">8</option>
                      <option style="color: black" value="9">9</option>
                      <option style="color: black" value="10">10</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group input-group-static mb-4">
                    <label for="exampleFormControlSelect1" class="ms-0" style="color: MidnightBlue"><strong>Periode
                        Pertimbangan Dosen Mata Kuliah Historis</strong></label>
                        <select class="form-control" id="formTahun" style="color: SteelBlue;" required name="tahunKurikulum">
                          <option disabled selected>Periode Tahun Pertimbangan Dosen</option>
                          {% for year in range(2013, 2021) %}
                            <option style="color: black" value="{{ year }}">{{ year }}</option>
                          {% endfor %}
                        </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group input-group-static mb-4">
                    <label for="exampleFormControlSelect1" class="ms-0" style="color: MidnightBlue"><strong>Data Program Studi</strong></label>
                        <select class="form-control" id="formProgramStudi" style="color: SteelBlue;" required name="programStudi">
                          <option disabled selected>Program Studi</option>
                            <option style="color: black" value="135">Teknik Informatika</option>
                            <option style="color: black" value="182">Sistem dan Teknologi Informasi</option>
                        </select>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn bg-gradient-success mt-n0 ml-auto" id="submit-btn" disabled>Generate</button>
            </form>
          </div>
        </div>
      </div>
      <div class="card my-4">
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mata Kuliah</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">SKS</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Program
                    Studi</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dosen</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for df in alternatives_list %}
                {% for index, row in df.iterrows() %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{row['nama_matakuliah']}}</h6>
                        <p class="text-xs text-secondary mb-0">{{row['kd_matakuliah']}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{row.sks}}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {{row.no_programstudi}}-{{row.nama_programstudi}}
                  </td>
                  <td class="align-middle text-right">
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-left">
                          {% for i in range(row['lecturer']|length) %}
                          <h6 class="mb-0 text-sm">{{i+1}}. {{ row['lecturer'][i] }}</h6>
                          <p class="text-xs text-secondary mb-0">{{ row['study_group'][i] }}</p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer py-4  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>,
            made with <i class="fa fa-heart"></i> by
            <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Kelompok 7</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
  <script>

    // Get the required form elements
  const matkulPilihan  = document.getElementById('formMatkulpilihan');
  const jumlahMatkul   = document.getElementById('formJumlahmatkul');
  const tahunKurikulum = document.getElementById('formTahun');
  const programStudi   = document.getElementById('formProgramStudi');
  const submitBtn      = document.getElementById('submit-btn');

  // Add an event listener to the form
  const form = document.querySelector('form');
  form.addEventListener('input', function() {
    // Check if all the required fields are filled
    if (matkulPilihan.value && jumlahMatkul.value && tahunKurikulum.value && programStudi.value) {
      submitBtn.removeAttribute('disabled'); // enable the submit button
    } else {
      submitBtn.setAttribute('disabled', ''); // disable the submit button
    }
  });
  </script>
  {% endblock javascripts %}