{% extends "layouts/base.html" %}

{% block title %} Tables Data {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Mata Kuliah Kurikulum</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mata Kuliah</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tahun Kurikulum</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">SKS</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Program Studi</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for matakuliah_kurikulum in matkulkurikulum_list %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{matakuliah_kurikulum.nama_matakuliah}}</h6>
                          <p class="text-xs text-secondary mb-0">{{matakuliah_kurikulum.kode_matakuliah}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{matakuliah_kurikulum.tahun_kurikulum}}</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      {{matakuliah_kurikulum.sks}}
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{matakuliah_kurikulum.no_programstudi}}-{{matakuliah_kurikulum.nama_programstudi}}</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Mata Kuliah Lampau</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center justify-content-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mata Kuliah</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Prodi Penyelenggara</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">SKS</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Dosen Pengajar</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for matakuliah in matakuliah_list %}
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div>
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">{{ matakuliah.kode_matakuliah }} - {{ matakuliah.nama_matakuliah }} </h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0">{{ matakuliah.no_programstudi }} - {{ matakuliah.nama_programstudi }}</p>
                    </td>
                    <td>
                      <span class="text-xs font-weight-bold">{{ matakuliah.sks }}</span>
                    </td>
                    <td class="align-middle text-center">
                      {% set nids = matakuliah.nid.split(',') %}
                      {% set dosens = matakuliah.dosen.split(',') %}
                      {% for i in range(nids|length) %}
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="me-2 text-xs font-weight-bold">{{i+1}}. {{nids[i] }} - {{dosens[i] }}</span>
                      </div>
                      {% endfor %}
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0">
                        <i class="fa fa-ellipsis-v text-xs"></i>
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
